

<div class='container'>
	<div class='row col-xs-offset-1 col-md-offset-1'>
		<h1> Welcome </h1>
	</div>
	<div class='row col-xs-offset-1 col-md-offset-1 table-bordered'>
		<table class='table table-bordered table-striped'>
			<thead>
				<th> Name </th>
				<th> Description </th>
				<th> Price </th>
				<th> Category</th>
			</thead>
			<tbody>
				<% @product.each do |i| %>
				<tr>
					<td> <%= i.name %> </td>
					<td> <%= i.description %> </td>
					<td> <%= i.pricing %> </td>
					<td> <%= i.category.name %> </td>
					<td> <a href='/product/<%= i.id %>/show'>Show</a> | <a href='/product/<%= i.id %>/edit'>Edit</a> | <a href='/product/<%= i.id %>/delete'>Delete</a> </td>
				</tr>
				<% end%>
			</tbody>
		</table>
	</div>

	<div class='row col-xs-offset-1 col-md-offset-1'>

		<p> Create a <a href='/product/new'> New Product! </a></p>
	</div>
</div>