

<div class='container'>
	<div class='row'>
		<h1 class='col-xs-11 col-md-11 col-sm-11 col-lg-11'> Products </h1>
	</div>
	<div class='row'>
		<table class='table table-striped table-hover table-bordered table-responsive  col-xs-11 col-md-11 col-sm-11 col-lg-11'>
			<thead>
				<th> Name </th>
				<th> Description </th>
				<th> Price </th>
				<th> Category</th>
				<th></th>
			</thead>
			<tbody>
				<% @product.each do |i| %>
				<tr>
					<td> <%= i.name %> </td>
					<td> <%= i.description %> </td>
					<td> <%= i.pricing %> </td>
					<td> <%= i.category.name %> </td>
					<td> <a href='/product/<%= i.id %>/show'>Show</a> <a href='/product/<%= i.id %>/edit'>Edit</a> <a href='/product/<%= i.id %>/delete'>Delete</a> </td>
				</tr>
				<% end%>
			</tbody>
		</table>
	</div>
	<div class='row'>
		<p> Create a <a href='/product/new'>New Product!</a> </p>
		<p> <a href='/comments/show'>All Comments</a> </p>
	</div>
</div>